.flex-container { 
  width: 98%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding-top: 37px;
}
.flex-tools {
  flex-basis: 50%;
  padding-right: 3rem;
}
.flex-tools img {
  width: 100%;
  height: 80%;
}
.welcome h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin: 0;
  margin-bottom: 7px;
}
.flex-tools h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  color: #1E202D;
  margin: 0;
  margin-bottom: 13px;
}
.flex-tools p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #50536B;
  margin-bottom: 45px;
}
.contact-us a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  background: #3D405B;
  border-radius: 4px;
  padding: 1rem 39px;
}
.grid-bgclor {
  background: #f7f7f7;
  height: auto;
  padding-bottom: 1px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid figure {
  background: #ffffff;
  border-radius: 7px;
}
.grid figure img{
  width: 100%;
  height: 80%;
}
.grid figcaption p {
  width: 80%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  float: left;
}
.grid figcaption {
  padding-left: 20px;
}
.grid figcaption h2 {
  line-height: 19px;
  font-family: Open Sans;
  margin-top: 40px;
}
.intro h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  color: #1E202D;
  margin: 0;
  margin-bottom: 13px;
}
.intro {
  margin-left: 45px;
  padding-top: 30px;
}
.intro p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #50536B;
  margin-bottom: 45px;
}
.control {
  margin: 2rem 0;
}
.font a{
  float: right;
  color: #3D405B;
  font-size: 40px;
  margin-top: 20%;
}
.floaters {
  width: 80%;
  float: right;
  padding-bottom: 4rem;
}
.floaters .logo-d {
  position: absolute;
  right: 75%;
  margin-top: 8%;
}
.w-90 {
  width: 90%;
  float: right;
  padding: 3rem 3rem 4rem 2rem;
}
.flex {
  display: flex;
}
.flex p {
  font-family: Open Sans;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .flex-container {
    width: 95%;
    flex-direction: column;
    margin-right: auto;
    padding-bottom: 40px;
  }
  .grid {
    grid-template-columns: 1fr !important;
  }
  .floaters .logo-d {
    right: 78%;
    margin-top: 10%;
  }
  .font a {
    margin-top: 10%;
  }
}

@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
