/* container */
.container{
    padding: 60px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 58px;
}
.span{
    height: 10px;
    width: 40px;
    background-color: #f2cc8f;
    border: 1px solid #f2cc8f;
}
.container h2{
    color: #1e202d;
    font-weight: bolder;
    font-size: 2.5rem;
}
.container p{
    line-height: 20px;
    margin: 20px auto;
    width: 40%;
}
.container .input{
    background: none;
    border: 1px solid #1e202d;
    width: 300px;
    padding: 13px 8px;
}
.container .check-in{
    background: none;
    border: 1px solid #1e202d;
    width: 150px;
    padding: 10px 4px;
}
.container .check-out{
    background: none;
    border: 1px solid #1e202d;
    width: 150px;
    padding: 10px 4px;
}
.container .btn{
    background: #1e202d;
    border: 1px solid #1e202d;
    color: #e6e5e5;
    padding: 13px 25px;
}

/* main content */
main{
    padding: 20px;
}
.main{
    padding: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
main h3{
    margin-left: 50px;
}
svg{
    margin-top: 8px;
    fill: #f2cc8f;
}
.main span{
    margin-left: 88%;
    height: 100px;
    width: 100px;
    background: #1e202d;
    padding: 10px;
    border-radius: 50%;
    color: #e6e5e5;
    box-shadow: 2px 2px #777777;
}
span .fa{
    font-weight: lighter;
    color: #e6e5e5;
}
.main h3{
    color: #1e202d;
    font-weight: 700;
}
.row{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.col-3{
    width: 30%;
    margin: 10px;
    background: #e6e5e5;
    height: 100%;
}
.col-3 .rooms{
    height: 70%;
    width: 100%;
}
.col-3 .caption{
    padding: 15px;
    color: #1e202d;
}
.col-3 h4{
    color: #1e202d;
    padding: 5px;
}
main .btn{
    background: #1e202d;
    border: 1px solid #1e202d;
    color: #e6e5e5;
    padding: 13px 25px;
    align-items: center;
    justify-content: center;
    display: block;
    margin: 0 45%;
}
.heading {
  padding-bottom: 30px;
}
.heading h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  color: #1E202D;
  margin: 0;
  margin-bottom: 13px;
}
.heading p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #50536B;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid figure {
  background: #f7f7f7;
  border-radius: 7px;
}
.grid figure img{
  width: 100%;
}
.grid figcaption p {
  width: 80%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  float: left;
}
.grid figcaption {
  padding-left: 20px;
}
.grid figcaption h2 {
  line-height: 19px;
  font-family: Open Sans;
  margin-top: 40px;
}
.font a{
  float: right;
  color: #3D405B;
  font-size: 40px;
  margin-top: 20%;
}
.contact-us a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  background: #3D405B;
  border-radius: 4px;
  padding: 1rem 39px;
  margin-top: 10px;
}

@media screen and (max-width: 360px) {
  .heading h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .grid {
    grid-template-columns: 1fr !important;
  }
  .grid figcaption h2 {
    margin: 10px 0 0;
  }
  .font a {
    margin-top: 25% !important;
    font-size: 55px;
  }
  figure {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .font a {
    margin-top: 10%;
  }
}

@media screen and (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
